p,h1 {
    text-align: center;
}

.block {
    text-align: center;
    background-color: lightgray;
}

.list {
    text-align: left;
    display: inline-block;
}
.list li{
    cursor: pointer;
    transition: all 400ms ease;
}
.list li:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}

img{
    width: 280px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 5px;
    box-shadow: 1px 10px 25px rgb(0 0 0 / 0.2);
    border-radius: 2px;    
}
.imagenes{
    display: flex;
    justify-content: center;
    
}
.img:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.img{
    transition: all .4s ease;
}