h1 {
    text-align: center;
}

div.estaciones {
    text-align: center;
}
/*
.polaroid {
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3%;
    display: inline-block;
    transition: all 400ms ease;
}
*/
.polaroid {
    background-color: #fff;
    box-shadow: 0 3px 4px #0003, 0 6px 20px #00000030;
    display: block;
    transition: all .4s ease;
    padding: 10px;
    width: 40%;
    margin: auto;
    cursor: pointer;   
}
.polaroid:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.polaroidVer {
    background-color: #fff;
    box-shadow: 0 3px 4px #0003, 0 6px 20px #00000030;
    display: block;
    transition: all .4s ease;
    padding: 10px;
    width: 40%;
    margin: auto; 
    margin-top: 90px;
    cursor: pointer;       
}
.polaroidVer:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

img {
    width: 100%;
}

.navigation{
    width: 100%;
    background-color: black;
}
img.logout{
width: 25px;
border-radius: 50px;
float: left;
}
.logout{
    font-size: .8em;
    
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    cursor: pointer;

}
.button{
    text-decoration: none;
    float: right;
    padding: 12px;
    margin: 15px;
    color: rgb(12, 12, 12);
    width: 100px;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right,  #54adff,#4d9ce6,#4996dd);
    overflow: hidden;
    border-radius: 6px;
    margin-right: 15px;
    transition: all .4s ease;
    text-align: center;
    font-weight: bold;
}
.button:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    color: #fff;
}


.user-content{
    padding: 100px;
    
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
	width: 120px;
    height: 30px;
    border-radius: 20px;
    float: left;
	outline: none;
	border: none;
	background-image: linear-gradient(to right,  #54adff,#4d9ce6,#4996dd);
	background-size: 200%;
	font-size: 1.2rem;
	
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	
  
}

.btn a{
    text-decoration: none;
    color: black;
    transition: .5s;
}
.btn a:hover{
	background-position: right;
    color: #fff;
}
footer{
    display: flex;
    /* align-content: center; */
    justify-content: center;

}
footer p {
    margin-right: 15px;
}
footer p a{
    text-decoration: none;
    color: #4996dd;
    transition: .5s;
}
footer p a:hover{
    color: #080808;
}