h1 {
    text-align: center;
}

div.estaciones {
    text-align: center;
}

div.polaroid {
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3%;
    display: inline-block;
}

img {
    width: 100%;
}

.navigation{
    width: 100%;
    background-color: black;
}
img.logout{
width: 25px;
border-radius: 50px;
float: left;
}
.logout{
    font-size: .8em;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    cursor: pointer;

}
.button{
    text-decoration: none;
    float: right;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 100px;
    background-color: black;
    overflow: hidden;
}

.user-content{
    padding: 100px;
    
}