.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #f5f5f5;
    height: 100%;
    height: 100vh;
    box-shadow: 1px 10px 25px rgba(0,0,0,0.5);

}
.logo{
    width: 100%;
    margin-bottom: -60px;
}
.logo-forgot{
    height: 140px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.body{
    margin: auto;
    width: 100%;
    max-width: 330px;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 10px 25px rgb(0 0 0 / 0.2);
    border-radius: 2px;
    cursor: default;
    transition: all 400ms ease;
}
.body:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.form input{
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
 
}


.forgot-password{
    cursor: pointer;
    margin: 10px 0 ;
}
.forgot-password a{
    text-decoration: none;
    color: black;
}
.forgot-password a:hover{
     
     color: #32be8f;
}

.btn{
	
	width: 50%;
	height: 40px;
	border-radius: 25px;
    margin-bottom: 15px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: black;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
    color: #fff;
}