.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;    
}

.table1 {
    float: left;
    margin-right: 10px;
    box-shadow: 1px 10px 25px rgb(0 0 0 / 0.2);
}

.table2 {
    float: none;
    box-shadow: 1px 10px 25px rgb(0 0 0 / 0.2);
}

h1 {
    text-align: center;
}