.container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.table1 {
    float: left;
    margin-right: 10px;
    box-shadow: 1px 10px 25px rgb(0 0 0 / 0.2);
}

.table2 {
    float: none;
    box-shadow: 1px 10px 25px rgb(0 0 0 / 0.2);
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 40%;
}

th,td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #8bbb7c;
}

thead{
    background-color: #7e995a;
}