<p>estaciones works!</p>
<p>Verano</p>
<p>{{ verano![0].nombre }}</p>
<p>{{ verano![0].desc }}</p>
<p>{{ verano![0].actividades[0].nombre }}</p>
<p>{{ verano![0].actividades[0].desc }}</p>
<p>{{ verano![0].eventos[0].nombre }}</p>
<p>{{ verano![0].eventos[0].desc }}</p>
<p>------------</p>
<p>Invierno</p>
<p>{{ invierno![0].nombre }}</p>
<p>{{ invierno![0].desc }}</p>
<p>{{ invierno![0].actividades[0].nombre }}</p>
<p>{{ invierno![0].actividades[0].desc }}</p>
<p>{{ invierno![0].eventos[0].nombre }}</p>
<p>{{ invierno![0].eventos[0].desc }}</p>
<p>------------</p>
<p>Otoño</p>
<p>{{ otono![0].nombre }}</p>
<p>{{ otono![0].desc }}</p>
<p>{{ otono![0].actividades[0].nombre }}</p>
<p>{{ otono![0].actividades[0].desc }}</p>
<p>{{ otono![0].eventos[0].nombre }}</p>
<p>{{ otono![0].eventos[0].desc }}</p>
<p>------------</p>
<p>Primavera</p>
<p>{{ primavera![0].nombre }}</p>
<p>{{ primavera![0].desc }}</p>
<p>{{ primavera![0].actividades[0].nombre }}</p>
<p>{{ primavera![0].actividades[0].desc }}</p>
<p>{{ primavera![0].eventos[0].nombre }}</p>
<p>{{ primavera![0].eventos[0].desc }}</p>