p,h1 {
    text-align: center;
}

img{
    width: 280px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 5px;
    box-shadow: 1px 10px 25px rgb(0 0 0 / 0.2);
    border-radius: 2px;    
}

.btn {
    width: 120px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
}

.btn b {
    text-decoration: none;
    color: black;
    transition: .5s;
}

.btn b:hover {
    background-position: right;
    color: #fff;
}

.contenedor {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: first baseline;
    /* Centra verticalmente */
    height: 300px;
    /* Establece la altura deseada */
}